
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*start header*/
header{
    z-index: 1;
    position: sticky;
    top: 0px;
    display: flex;
    background-color: #848484a3;
    justify-content: space-evenly;
}
#logo{
    height: 7vw;
    width: 7vw;
}
nav li{
    display: flex;
    /* margin-top: 70px; */
    align-items: center;

}

nav a{
    padding: 5px 15px;
    text-decoration: none;
    color: black;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 6px;
}


.dropdown-content { 
    font-family: "Rubik", sans-serif;
    position: absolute;
    right: 32vw;
    min-width: 28vw;
    top: 7vw;
    transition: all .5s ease-in-out;
    display: grid;
    grid-template-columns: 14vw 14vw;
    grid-template-rows: calc(20vw / 3) calc(20vw / 3) calc(20vw / 3);
    gap: 0px 0px;
    background-color: #848484b6;
    align-items: center;
    z-index: 1;
    grid-template-areas:
        "a b"
        "c d "
        "e f";
}
  nav , ul {
    display: flex;
    align-items: center;
  }
  .dropdown-content{
    opacity: 0;
    visibility:hidden;
    z-index: 1;
  }
  nav:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
  }
  li a{
    transition: all .4s ease;
  }

  .dropdown-content li a:hover{
    padding-left: 40%;
  }

  .a { 
    grid-area: a;
   
    
    
}
  
  .b { grid-area: b; }
  
  .c { grid-area: c; }
  
  .d { grid-area: d; }
  
  .e { grid-area: e; }
  
  .f { grid-area: f; }
  
  
  
a{
    display: flex;
    align-items: center;
}
#achat{
    height: 30px;
    width: 30px;
    
}


    
/*end of header*/
/*start of main*/
video{
    width: 100%;
    height: 50%;
   filter: brightness(0.4);
}
/*articles*/
.Pizzabody {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    top:-2.99px;
    }
/*img radius*/
.picture_article1{
    width: 100%;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
}
.picture_article2{
    width: 100%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}
/*end img radius*/

.title_article1{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;    
}
.title_article1 h1{
    font-family: Georgia, 'Times New Roman', Times, serif;  
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.title_article1 h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 10px;
    text-transform: capitalize;
}
.title_article1 p{
    font-family: monospace;
    word-spacing: 12px;
}
/*order part*/
.Order{
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/stock.jpg);
        background-size: cover;   
}
.title_order{
    color: white;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 20px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input , textarea {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 25px;
    background-color: rgba(255, 92, 84, 0.655);
    border: none;
}
input[type="checkbox"] {
    width: 30px; 
    height: 30px; 
    accent-color: rgba(255, 197, 84, 0.5);
}
#shot{
    color:white;
    padding: 20px;
    color: black;
    background-color:rgba(255, 92, 84, 0.655) ;
}
#shot:hover{
    color: black;
    background-color: rgba(225, 225, 225, 1.5);
    
}



