*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*start header*/
header{
    display: flex;
    justify-content: space-around;
    background-color: #646464;
}
#logo{
    height: 150px;
    width: 150px;
}
nav{
    margin-top: 70px;
}
nav a{
    padding:5px 15px ;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:20px;
}
#achat{
    height: 30px;
    width: 30px;
    margin-top: 70px;
}
#achat:hover{
    border: 2px black solid;
    border-radius: 50%;
}
nav a:hover{
    border-bottom: 2px solid black;
}
/*end of header*/
/*start of main*/
video{
    width: 100%;
    height: 50%;
}
/*articles*/
article{
    display: flex;
    text-align: center;
}
.title_article1{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.title_article1 h1{
    color: red;
    font-size: 2em;
}
.title_article1 p{
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
}
.picture_article {
    width: 50%;
}
.picture_article img{
    width: 100%;
}

