*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*start header*/
header{
    z-index: 1;
    position: sticky;
    top: 0px;
    display: flex;
    background-color: #848484a3;
    justify-content: space-evenly;
}
#logo{
    height: 7vw;
    width: 7vw;
}
nav{
    display: flex;
    /* margin-top: 70px; */
    align-items: center;

}

nav a{
    padding: 5px 15px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 6px;
}
a{
    display: flex;
    align-items: center;
}
#achat{
    height: 30px;
    width: 30px;
    
}
#achat:hover{
    border: 2px black solid;
    border-radius: 50%;
}
nav a:hover{
    border-bottom: 2px solid black;
}
/*end of header*/
/*start of main*/
video{
    width: 100%;
    height: 50%;
   filter: brightness(0.4);
}
/*articles*/
.Pizzabody {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    top:-2.99px;
    }
.picture_article{
    width: 100%;
}
.title_article1{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}



